# Gradle
.gradle/

# Build output
build/
out/

# IntelliJ/Android Studio
*.iml
.idea/caches
.idea/dictionaries
.idea/encodings.xml
.idea/misc.xml
.idea/modules
.idea/modules.xml
.idea/vcs.xml
.idea/**/libraries
.idea/**/gradle.xml
.idea/**/workspace.xml
local.properties
